body {
  background: url("../img/dark-background.webp") center/cover;
  background-color: #181c27;
}

.top {
  padding-top: 150px;
}
.top__project-name {
  color: #ffa500;
}
.top__description {
  color: #fff;
  font-size: 22px;
  text-align: justify;
}

.stages-title {
  margin: 30px 0;
}
.stages-title__title {
  color: #ffa500;
  margin: 0;
  text-align: center;
}

.view {
  margin: 20px 0;
  /* &__pc-iframe {
    position: absolute;
    top: 10.5%;
    left: 9.2%;
    width: 163.2%;
    height: 156%;
    transform: scale(0.5) translate(-50%, -50%);
  } */
  /* &__iphone-iframe {
    position: absolute;
    top: 8.7%;
    left: 4.6%;
    width: 183%;
    height: 165%;
    transform: scale(0.5) translate(-50%, -50%);
  } */
}
.view__bg-shadow, .view__bg-shadow1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: none;
}
.view__bg-shadow.active, .view__bg-shadow1.active {
  display: block;
}
.view__container {
  display: flex;
  justify-content: space-between;
}
.view__exit-full-screen {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 12;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  border: 5px solid red;
  background: #fff;
}
.view__exit-full-screen.active {
  display: flex;
}
.view__exit-full-screen-img {
  width: 60%;
  height: 60%;
  animation: scaleble-icon-in-island-hover 0.5s ease-out infinite alternate;
}
.view__container {
  display: flex;
  justify-content: space-between;
}
.view__container.active {
  justify-content: end;
}
.view__block-pc {
  position: relative;
  width: 74.8%;
}
.view__block-pc > iframe {
  position: absolute;
  top: 10.5%;
  left: 9.2%;
  width: 163.2%;
  height: 156%;
  transform: scale(0.5) translate(-50%, -50%);
}
.view__block-pc > iframe.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: none;
  z-index: 11;
}
.view__block-pc:hover .view__full-screen-pc {
  /* backdrop-filter: blur(2px); */
  /* background: #6494ed67; */
}
.view__block-pc:hover .view__btn-full-screen-pc {
  transform: scale(1);
  animation: big-full-screen-btn 0.5s ease-in 2 alternate;
}
.view__block-pc.active {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 11;
  transform: translate(-50%, -50%);
  width: 75%;
}
.view__img-pc {
  width: 100%;
}
.view__full-screen-pc {
  position: absolute;
  top: 2.2%;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
  width: 81.8%;
  height: 8.3%;
  -webkit-backdrop-filter: blur(0);
          backdrop-filter: blur(0);
  border-top-left-radius: 1% 18%;
  border-top-right-radius: 1% 18%;
  background: none;
}
.view__macbook-camera {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 11%;
}
.view__btn-full-screen-pc {
  position: absolute;
  top: 10%;
  left: 0.65%;
  height: 80%;
  width: 5%;
  background: #ffa600;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}
.view__btn-full-screen-pc:hover {
  transform: scale(1.1) !important;
}
.view__btn-full-screen-pc .view__img-btn-full-screen, .view__btn-full-screen-pc.view__exit-full-screen-img {
  animation: scaleble-icon-in-island-hover 0.5s ease-in infinite alternate;
}
.view__btn-full-screen-pc.active {
  background: #f00;
}
.view__btn-full-screen-pc.active svg.view__img-btn-full-screen {
  display: none;
}
.view__btn-full-screen-pc.active svg.view__exit-full-screen-img {
  display: block;
}
.view__img-btn-full-screen {
  width: 65%;
  height: 65%;
}
.view__exit-full-screen-img {
  width: 65%;
  height: 65%;
  display: none;
}
.view__block-link-mac {
  position: absolute;
  display: block;
  top: 6.8%;
  left: 50%;
  transform: translateX(-50%);
  height: 2%;
}
.view__img-url-mac {
  height: 100%;
}
.view__lock {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-160%, -50%);
  height: 80%;
}
.view__lock.iphone {
  fill: #8A8A8E;
}
.view__lock.iphone path {
  fill: #8A8A8E;
}
.view__loading-anim {
  justify-content: center;
  align-items: center;
  display: flex;
  background: black;
  position: absolute;
  top: 10.5%;
  left: 9.2%;
  width: 163.2%;
  height: 156%;
  transform: scale(0.5) translate(-50%, -50%);
}
.view__loading-anim-img {
  height: 500px;
  max-height: 70%;
  max-width: 50%;
}
.view__iframe-website {
  z-index: -1;
}
.view__iframe-website.onscrean {
  z-index: 1;
}
.view__iframe-briefing {
  z-index: -1;
}
.view__iframe-briefing.onscrean {
  z-index: 1;
}
.view__iframe-figma {
  z-index: -1;
}
.view__iframe-figma.onscrean {
  z-index: 1;
}
.view__block-mobile {
  position: relative;
  width: 22.2%;
}
.view__block-mobile > iframe {
  position: absolute;
  top: 8.7%;
  left: 4.6%;
  width: 183%;
  height: 165%;
  transform: scale(0.5) translate(-50%, -50%);
}
.view__block-mobile:hover .view__animated-iland, .view__block-mobile *:hover .view__animated-iland {
  animation: big-island 2s ease-in 1 alternate;
}
.view__block-mobile:hover .view__img-btn-full-screen-iphone, .view__block-mobile:hover .view__exit-full-screen-img-iphone, .view__block-mobile *:hover .view__img-btn-full-screen-iphone, .view__block-mobile *:hover .view__exit-full-screen-img-iphone {
  transform: scale(1);
  animation: scaleble-icon-in-island 2s ease-in 1 alternate;
}
.view__block-mobile.active {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  z-index: 11;
  height: 90%;
}
.view__block-mobile.active .view__img-btn-full-screen-iphone {
  display: none !important;
}
.view__block-mobile.active .view__exit-full-screen-img-iphone {
  display: block !important;
}
.view__img-iphone {
  width: 100%;
}
.view__img-iphone.active {
  width: auto;
  height: 100%;
}
.view__block-link-iphone {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  height: 3%;
}
.view__img-url-iphone {
  height: 100%;
  fill: #000;
}
.view__img-url-iphone path {
  color: #000;
  fill: #000;
}
.view__animated-iland {
  cursor: url(../img/cursor-click.svg), pointer;
  position: absolute;
  top: 3.2%;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
  width: 29.5%;
  height: 4.5%;
  border-top-right-radius: 17% 50%;
  border-top-left-radius: 17% 50%;
  border-bottom-right-radius: 17% 50%;
  border-bottom-left-radius: 17% 50%;
  border: 1px solid #ffa500;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: end;
}
.view__animated-iland.active {
  width: 37%;
  height: 18%;
  border-radius: 23%;
  justify-content: center;
}
.view__animated-iland:hover {
  width: 37%;
  height: 18%;
  border-radius: 23%;
  justify-content: center;
}
.view__animated-iland:hover .view__img-btn-full-screen-iphone, .view__animated-iland:hover .view__exit-full-screen-img-iphone {
  transform: scale(1);
  margin-right: 0;
  width: 50%;
  height: 50%;
  animation: scaleble-icon-in-island-hover 0.5s ease-in infinite alternate;
}
.view__img-btn-full-screen-iphone {
  position: absolute;
  height: 90%;
  width: 28%;
  margin-right: 5%;
  transform: scale(0);
}
.view__img-btn-full-screen-iphone.active {
  transform: scale(1);
}
.view__exit-full-screen-img-iphone {
  position: absolute;
  height: 90%;
  width: 28%;
  margin-right: 5%;
  transform: scale(0);
  display: none;
}
.view__exit-full-screen-img-iphone.active {
  transform: scale(1);
}
.view__loading-anim-phone {
  justify-content: center;
  align-items: center;
  display: flex;
  background: black;
  position: absolute;
  top: 8.7%;
  left: 4.6%;
  width: 183%;
  height: 165%;
  transform: scale(0.5) translate(-50%, -50%);
}

.slider {
  height: 55px;
  width: 90%;
  padding: 40px 0;
  margin-left: 50%;
  transform: translateX(-50%);
  background: transparent;
  border-radius: 10px;
  cursor: url(../img/cursor-click.svg), pointer;
}
.slider * {
  cursor: url(../img/cursor-click.svg), pointer;
}
.slider__value {
  position: relative;
  z-index: 1;
  width: 100%;
  transform: scale(0.945);
}
.slider__span {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: 500;
  top: 50%;
  left: 100%;
  color: #fff;
  transform-origin: bottom;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.slider__span::before {
  position: absolute;
  content: "";
  height: 70px;
  width: 70px;
  background: #ffa500;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0px 0px 8px #ffa500;
}
.slider__span::after {
  content: "%";
}
.slider__field {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0;
  position: relative;
}
.slider__input {
  position: relative;
  -webkit-appearance: none;
  z-index: 2;
  width: 100%;
  height: 10px;
  background: transparent;
  border-radius: 5px;
  outline: none;
  border: none;
}
.slider__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  cursor: url(../img/cursor-click.svg), pointer;
  border: none;
  box-shadow: none;
}
.slider__input::-moz-range-thumb {
  -webkit-appearance: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  cursor: url(../img/cursor-click.svg), pointer;
  border: none;
  box-shadow: none;
}
.slider__input::-moz-range-progress {
  background: #ffa500;
}
.slider__bg-1 {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 12px;
  transform: translateY(-50%);
  width: 100%;
  background: #6495ED;
  border-radius: 10px;
}
.slider__bg-2 {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  height: 12px;
  transform: translateY(-50%);
  width: 100%;
  background: #fff;
  border-radius: 10px;
}
.slider__dots {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  padding: 0 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider__dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: none;
}
.slider__dot.active {
  background: #FFA500;
}
.slider__dot.now {
  background: red;
}

.stages {
  margin: 20px 0;
}
.stages__block-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stages__block-times {
  display: flex;
  position: relative;
  align-items: center;
  border: 3px solid #6495ED;
  border-radius: 30px;
  padding: 7px;
}
.stages__timer-icon {
  height: 40px;
  margin-right: 10px;
}
.stages__date-block {
  width: 117px;
  height: 26px;
  position: relative;
  overflow: hidden;
}
.stages__date-block-slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 1100%;
  height: 100%;
  transform: translateX(-90.9%);
}
.stages__date-block-slider.first {
  transform: translateX(0);
}
.stages__date-block-slider.second {
  transform: translateX(-9.09%);
}
.stages__date-block-slider.third {
  transform: translateX(-18.18%);
}
.stages__date-block-slider.four {
  transform: translateX(-27.27%);
}
.stages__date-block-slider.five {
  transform: translateX(-36.36%);
}
.stages__date-block-slider.six {
  transform: translateX(-45.45%);
}
.stages__date-block-slider.seven {
  transform: translateX(-54.54%);
}
.stages__date-block-slider.eight {
  transform: translateX(-63.63%);
}
.stages__date-block-slider.nine {
  transform: translateX(-72.72%);
}
.stages__date-block-slider.ten {
  transform: translateX(-81.81%);
}
.stages__date {
  color: #6495ED;
  font-weight: 500;
  margin-bottom: 0;
}
.stages__date.start {
  margin-left: 10px;
}
.stages__stage-title {
  position: relative;
  border: 3px solid #6495ED;
  border-radius: 50px;
  width: 500px;
  height: 48px;
  overflow: hidden;
}
.stages__stage-title-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 1100%;
  height: 100%;
  transform: translateX(-90.9%);
}
.stages__stage-title-slider.first {
  transform: translateX(0);
}
.stages__stage-title-slider.second {
  transform: translateX(-9.09%);
}
.stages__stage-title-slider.third {
  transform: translateX(-18.18%);
}
.stages__stage-title-slider.four {
  transform: translateX(-27.27%);
}
.stages__stage-title-slider.five {
  transform: translateX(-36.36%);
}
.stages__stage-title-slider.six {
  transform: translateX(-45.45%);
}
.stages__stage-title-slider.seven {
  transform: translateX(-54.54%);
}
.stages__stage-title-slider.eight {
  transform: translateX(-63.63%);
}
.stages__stage-title-slider.nine {
  transform: translateX(-72.72%);
}
.stages__stage-title-slider.ten {
  transform: translateX(-81.81%);
}
.stages__stage {
  color: #6495ED;
  padding: 10px;
  width: 9.09%;
  text-align: center;
}
.stages__description {
  margin: 30px 0;
  color: #fff;
  display: none;
  background: none;
  opacity: 0;
}
.stages__description.opacity {
  opacity: 1;
}
.stages__description.active {
  display: block;
}
.stages__added-block {
  display: flex;
  align-items: center;
  position: relative;
}
.stages__added-elements {
  font-size: 30px;
  color: #ffa500;
  margin-right: 20px;
  position: absolute;
  top: 6px;
  left: 5px;
}
.stages__block-added-el {
  align-items: center;
  display: none;
  background: none;
  line-height: 50px;
  text-indent: 150px;
  text-align: left;
  opacity: 0;
  letter-spacing: 10px;
}
.stages__block-added-el.opacity {
  opacity: 1;
}
.stages__block-added-el.active {
  display: block;
}
.stages__added-element {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  background: #6495ED;
  padding: 5px 10px;
  border-radius: 25px;
  display: inline-block;
  text-indent: 0;
  letter-spacing: normal;
}

.skills-and-team {
  margin: 50px 0;
  max-height: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.skills-and-team__skills {
  width: 60%;
}
.skills-and-team__skills-title {
  color: #ffa500;
  text-align: center;
}
.skills-and-team__block-skills {
  letter-spacing: 20px;
  line-height: 80px;
}
.skills-and-team__skill {
  display: inline-flex;
  align-items: center;
  padding: 10px 15px;
  margin: 0;
  background: #6495ED;
  border-radius: 50px;
  font-weight: 500;
  font-size: 25px;
  color: #fafafa;
  letter-spacing: normal;
}
.skills-and-team__skill:first-child {
  margin-left: 0;
}
.skills-and-team__skill::before {
  background-size: 40px 40px;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  content: "";
}
.skills-and-team__skill.html::before {
  background-image: url("../img/html.svg");
}
.skills-and-team__skill.css::before {
  background-image: url("../img/css.svg");
}
.skills-and-team__skill.js::before {
  background-image: url("../img/js.svg");
}
.skills-and-team__skill.react::before {
  background-image: url("../img/react.svg");
}
.skills-and-team__skill.load::before {
  background-image: url("../img/load.svg");
}
.skills-and-team__skill.php::before {
  background-image: url("../img/php.svg");
}
.skills-and-team__icon {
  width: 40px;
  height: 40px;
  color: #ffa500;
  fill: #ffa500;
}
.skills-and-team__icon path {
  fill: #ffa500;
}
.skills-and-team__team {
  margin-left: 50px;
  width: 40%;
}
.skills-and-team__team-title {
  color: #ffa500;
  text-align: center;
}
.skills-and-team__pearson {
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
}
.skills-and-team__pearson:last-child {
  margin-bottom: 0;
}
.skills-and-team__pearson:hover .skills-and-team__pearson-bg {
  width: 100%;
}
.skills-and-team__pearson:hover .skills-and-team__pearson-name {
  color: #fff;
}
.skills-and-team__pearson-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 0;
  height: 100%;
  background: #ffa500;
}
.skills-and-team__img {
  width: 70px;
  height: 70px;
}
.skills-and-team__pearson-info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.skills-and-team__profession {
  margin-top: 10px;
  font-size: 22px;
  color: #6495ED;
  margin-bottom: 0;
  font-weight: 550;
}
.skills-and-team__pearson-name {
  font-size: 25px;
  color: #fff;
  margin-bottom: 5px;
  font-weight: 500;
}

@media (max-width: 767px) {
  .paragraf {
    font-size: 20px;
    line-height: 25px;
  }
  .title {
    font-size: 30px;
  }
  .top {
    padding-top: 100px;
  }
  .top__project-name {
    text-align: center;
  }
  .view {
    height: 90%;
    display: flex;
    justify-content: center;
  }
  .view__container {
    height: 100%;
    padding: 0;
  }
  .view__block-pc {
    display: none;
  }
  .view__block-mobile {
    height: 100%;
    width: auto;
  }
  .view__img-iphone {
    width: auto;
    height: 100%;
  }
  .view__animated-iland {
    display: none;
  }
  .slider {
    padding: 25px 0;
  }
  .slider__input::-webkit-slider-thumb {
    width: 40px;
    height: 40px;
  }
  .slider__input::-moz-range-thumb {
    width: 40px;
    height: 40px;
  }
  .slider__span {
    font-size: 18px;
  }
  .slider__span::before {
    width: 45px;
    height: 45px;
    box-shadow: 0px 0px 5px #ffa500;
  }
  .slider__bg-1 {
    height: 10px;
    border-radius: 5px;
  }
  .slider__bg-2 {
    height: 10px;
    border-radius: 5px;
  }
  .slider__dot {
    width: 12px;
    height: 12px;
  }
  .stages__block-top {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .stages__stage-title {
    width: 100%;
  }
  .stages__block-times {
    margin-top: 10px;
    padding: 5px;
  }
  .stages__timer-icon {
    height: 32px;
    margin-right: 0;
  }
  .stages__date {
    font-size: 21px;
  }
  .stages__added-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .stages__stage {
    padding: 0;
    font-size: 18px;
  }
  .stages__description {
    margin: 20px 0;
  }
  .stages__added-elements {
    position: static;
    margin-bottom: 15px;
    font-size: 27px;
  }
  .stages__block-added-el {
    text-indent: 0;
  }
  .stages__added-element {
    margin-bottom: 10px;
  }
  .skills-and-team {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
  .skills-and-team__skills {
    width: 100%;
    margin-bottom: 15px;
  }
  .skills-and-team__block-skills {
    letter-spacing: 10px;
    line-height: 60px;
  }
  .skills-and-team__skill {
    display: inline-flex;
    align-items: center;
    padding: 10px 12px;
    margin: 0;
    background: #6495ED;
    border-radius: 50px;
    font-weight: 500;
    font-size: 25px;
    color: #fafafa;
    letter-spacing: normal;
  }
  .skills-and-team__skill:first-child {
    margin-left: 0;
  }
  .skills-and-team__skill::before {
    background-size: 35px 35px;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    content: "";
  }
  .skills-and-team__team {
    width: 100%;
    margin-left: 0;
  }
  .skills-and-team__team-title {
    margin-bottom: 10px;
  }
  .skills-and-team__pearson {
    border: 3px solid #ffa500;
    padding: 7px;
    margin-bottom: 7px;
  }
  .skills-and-team__pearson-name {
    font-size: 21px;
  }
}
@keyframes big-full-screen-btn {
  0% {
    height: 80%;
    width: 5%;
  }
  100% {
    height: 160%;
    width: 10%;
  }
}
@keyframes scaleble-icon-in-island {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(1);
    margin-right: 0;
    width: 50%;
    height: 50%;
  }
  30% {
    transform: scale(1.3);
    margin-right: 0;
    width: 50%;
    height: 50%;
  }
  50% {
    transform: scale(1);
    margin-right: 0;
    width: 50%;
    height: 50%;
  }
  70% {
    transform: scale(1.3);
    margin-right: 0;
    width: 50%;
    height: 50%;
  }
  90% {
    transform: scale(1);
    margin-right: 0;
    width: 50%;
    height: 50%;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleble-icon-in-island-hover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
@keyframes big-island {
  0% {
    width: 29.1%;
    height: 4.2%;
    border-top-right-radius: 16% 50%;
    border-top-left-radius: 16% 50%;
    border-bottom-right-radius: 16% 50%;
    border-bottom-left-radius: 16% 50%;
    justify-content: center;
  }
  10% {
    width: 37%;
    height: 18%;
    border-radius: 23%;
    justify-content: center;
  }
  90% {
    width: 37%;
    height: 18%;
    border-radius: 23%;
    justify-content: center;
  }
  100% {
    width: 29.1%;
    height: 4.2%;
    border-top-right-radius: 16% 50%;
    border-top-left-radius: 16% 50%;
    border-bottom-right-radius: 16% 50%;
    border-bottom-left-radius: 16% 50%;
    justify-content: center;
  }
}
@keyframes big-island-hover {
  0% {
    width: 29.1%;
    height: 4.2%;
    border-top-right-radius: 16% 50%;
    border-top-left-radius: 16% 50%;
    border-bottom-right-radius: 16% 50%;
    border-bottom-left-radius: 16% 50%;
    justify-content: center;
  }
  100% {
    width: 37%;
    height: 18%;
    border-radius: 23%;
    justify-content: center;
  }
}
/* @keyframes mob-island-hov {
  0% {
    width: 37%;
    height: 18%;
    border-radius: 23%;
    justify-content: center;

    & .view__img-btn-full-screen-iphone, & .view__exit-full-screen-img-iphone {
      transform: scale(1);
      margin-right: 0;
      width: 50%;
      height: 50%;
      animation: scaleble-icon-in-island-hover 0.5s ease-in 2 alternate;
    }
  }

  100% {
    width: 29.5%;
    height: 4.5%;
    border-top-right-radius: 17% 50%;
    border-top-left-radius: 17% 50%;
    border-bottom-right-radius: 17% 50%;
    border-bottom-left-radius: 17% 50%;
    justify-content: end;

    & .view__img-btn-full-screen-iphone, & .view__exit-full-screen-img-iphone {
      height: 90%;
      width: 28%;
      margin-right: 5%;
      transform: scale(0);
      animation: none;
    }
  }
} */