.all-team {
  background: url("../img/team/team.png") bottom center/auto 67.5% no-repeat, url("../img/team/bg.jpg") bottom center/auto 100% no-repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
.all-team__circle {
  z-index: 1;
}
.all-team__peoples-image-group {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.all-team__cloud {
  cursor: url(../img/cursor-click.svg), pointer;
}
.all-team__cloud.none {
  transform: scale(0);
}
.all-team__title {
  color: #ffa500;
}
.all-team__paragraf {
  color: #fff;
}
.all-team__svg-peoples {
  position: absolute;
  bottom: -0.3%;
  left: 50%;
  transform: translateX(-49.97%);
  height: 81%;
}
.all-team__svg-peoples > path {
  cursor: url(../img/cursor-click.svg), pointer;
  fill: rgba(255, 255, 255, 0);
}
.all-team__svg-peoples > path.active {
  stroke: #ffa500;
  stroke-width: 5px;
}
.all-team__svg-peoples > path.hover {
  animation: 1.7s ease-in-out 0s infinite reverse both running borderColorsTeamSvg;
  stroke-width: 5px;
}
.all-team__block-name {
  position: absolute;
  top: 130px;
  left: 50px;
  z-index: 2;
  max-width: 400px;
}
.all-team__block-name.none {
  display: none;
}
.all-team__name {
  display: none;
  transition: all 0.15s ease;
  opacity: 0;
}
.all-team__name.active {
  display: block;
}
.all-team__name.opacity {
  opacity: 1;
}
.all-team__block-description {
  transition: all 0.15s ease;
}
.all-team__block-description.none {
  display: none;
}
.all-team__block-description.opacity {
  opacity: 0;
}
.all-team__circles-choose {
  position: absolute;
  bottom: 30px;
  right: 50px;
  z-index: 2;
}
.all-team__left-blocks {
  position: absolute;
  top: 130px;
  left: -450px;
  z-index: 3;
}
.all-team__left-blocks.active {
  left: 50px;
}

.account {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
}
.account__container-for-slider-logos {
  width: 70px;
  height: 70px;
  border: 3px solid #ffa500;
  border-radius: 50%;
  overflow: hidden;
}
.account__slider-logos {
  display: flex;
  width: 400%;
}
.account__slider-logos.second {
  transform: translateX(-25%);
}
.account__slider-logos.third {
  transform: translateX(-50%);
}
.account__slider-logos.fourth {
  transform: translateX(-75%);
}
.account__img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.account__container-for-slider-names {
  width: 300px;
  margin-left: 20px;
  overflow: hidden;
}
.account__slider-names {
  display: flex;
  align-items: center;
  width: 400%;
}
.account__slider-names.second {
  transform: translateX(-25%);
}
.account__slider-names.third {
  transform: translateX(-50%);
}
.account__slider-names.fourth {
  transform: translateX(-75%);
}
.account__name {
  width: 25%;
  color: #ffa500;
}

.profession {
  margin-bottom: 20px;
  width: 400px;
  background: rgba(200, 200, 200, 0.5019607843);
  border-radius: 30px;
  padding: 20px 0;
}
.profession__container-for-slider {
  width: 100%;
  overflow: hidden;
}
.profession__slider {
  width: 400%;
  display: flex;
}
.profession__slider.second {
  transform: translateX(-25%);
}
.profession__slider.third {
  transform: translateX(-50%);
}
.profession__slider.fourth {
  transform: translateX(-75%);
}
.profession__slider-item {
  width: 25%;
}
.profession__title {
  text-align: center;
  margin: 0;
  color: #ffa500;
}

.skills {
  width: 400px;
  padding: 10px;
  background: rgba(200, 200, 200, 0.5019607843);
  border-radius: 30px;
}
.skills__subtitle {
  color: #6495ED;
  text-align: center;
  margin: 10px 0 20px 0;
}
.skills__arrow-svg {
  display: none;
}
.skills__container-for-slider {
  max-width: 100%;
  overflow: hidden;
}
.skills__slider {
  width: 400%;
  display: flex;
}
.skills__slider.second {
  transform: translateX(-25%);
}
.skills__slider.third {
  transform: translateX(-50%);
}
.skills__slider.fourth {
  transform: translateX(-75%);
}
.skills__slider-item {
  width: 25%;
}
.level-line {
  margin-bottom: 10px;
  background: rgba(190, 190, 190, 0.7019607843);
  border-radius: 25px;
  padding: 10px 12px;
}
.level-line:last-child {
  margin-bottom: 0;
}
.level-line__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.level-line__name {
  color: #ffa500;
}
.level-line__percent {
  color: #6495ED;
}
.level-line__line {
  height: 25px;
  border: 3px solid #6495ED;
  border-radius: 14px;
  display: flex;
  align-items: center;
  padding: 0 1.5px;
}
.level-line__line > div {
  width: 100%;
  height: 80%;
  background: #6495ED;
  border-radius: 13px;
}

.projects {
  position: absolute;
  top: 130px;
  z-index: 3;
  width: 400px;
  padding: 10px;
  background: rgba(200, 200, 200, 0.5019607843);
  border-radius: 30px;
  right: -400px;
}
.projects.for-mobile {
  display: none;
}
.projects.active {
  right: 50px;
}
.projects__subtitle {
  color: #6495ED;
  text-align: center;
  margin: 10px 0 20px 0;
}
.projects__container-for-slider {
  width: 100%;
  overflow: hidden;
}
.projects__slider {
  width: 400%;
  display: flex;
}
.projects__slider.second {
  transform: translateX(-25%);
}
.projects__slider.third {
  transform: translateX(-50%);
}
.projects__slider.fourth {
  transform: translateX(-75%);
}
.projects__slider-item {
  width: 25%;
}
.projects__flex-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.projects__flex-line:last-child {
  margin-bottom: 0;
}
.projects__item {
  position: relative;
  width: 185px;
  height: 100px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  overflow: hidden;
  cursor: url(../img/cursor-click.svg), pointer;
}
.projects__item:hover .projects__bg {
  transform: scale(1.1);
}
.projects__item:hover .projects__bg-blur {
  -webkit-backdrop-filter: blur(0);
          backdrop-filter: blur(0);
}
.projects__item:hover .projects__name {
  color: rgba(0, 0, 0, 0);
}
.projects__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.projects__bg-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  background: rgba(0, 0, 0, 0.1607843137);
}
.projects__name {
  position: relative;
  z-index: 1;
  font-size: 20px;
  color: #6495ED;
  font-weight: 600;
  text-align: center;
}

.alex-map .projects__bg {
  background: url("../img/projects/alex-map.png") top left/cover no-repeat;
}

.greathouse .projects__bg {
  background: url("../img/projects/greathouse.png") top left/cover no-repeat;
}

.circles-choose__img {
  display: inline-block;
  cursor: url(../img/cursor-click.svg), pointer;
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border-radius: 50%;
  transition: all 1s ease-out;
  border: 0px solid #ffa500;
  overflow: hidden;
}
.circles-choose__img:last-child {
  margin-right: 0;
}
.circles-choose__img.active {
  border: 5px solid #ffa500;
}
.circles-choose__img.hover {
  animation: 1.7s ease-in-out 0s infinite reverse both running borderColorsTeamCircle5px;
}
.circles-choose__img > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@media (max-width: 1100px) {
  .all-team__block-name {
    top: 115px;
    left: 20px;
  }
  .all-team__title {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .all-team__paragraf {
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 20px;
  }
  .all-team__circles-choose {
    right: 20px;
    bottom: 20px;
  }
  .all-team__left-blocks {
    top: 115px;
    height: calc(100% - 135px);
  }
  .all-team__left-blocks.active {
    left: 20px;
  }
  .account {
    padding-bottom: 20px;
  }
  .account__container-for-slider-logos {
    width: 50px;
    height: 50px;
  }
  .account__img {
    width: 44px;
    height: 44px;
  }
  .account__container-for-slider-names {
    margin-left: 10px;
    width: 190px;
  }
  .profession {
    width: 250px;
    margin-bottom: 10px;
  }
  .profession__title {
    font-size: 23px;
  }
  .skills {
    width: 250px;
    max-height: calc(100% - 145px);
    overflow: auto;
  }
  .skills__subtitle {
    margin: 0 0 10px 0;
  }
  .projects {
    top: 115px;
    width: 250px;
    right: -250px;
    max-height: calc(100% - 230px);
    overflow: auto;
  }
  .projects.active {
    right: 20px;
  }
  .projects__subtitle {
    margin: 0 0 10px 0;
  }
  .projects__flex-line {
    margin-bottom: 0;
    flex-direction: column;
  }
  .projects__flex-line:last-child .projects__item:last-child {
    margin-bottom: 0;
  }
  .projects__item {
    width: 100%;
    margin-bottom: 10px;
  }
  .circles-choose__img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
  }
  .circles-choose__img.active {
    border: 3px solid #ffa500;
  }
  .circles-choose__img.hover {
    animation: 1.7s ease-in-out 0s infinite reverse both running borderColorsTeamCircle3px;
  }
}
@media (max-width: 767px) {
  .circle {
    display: none !important;
  }
  .account {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 5px 0 10px 0;
    width: 100%;
  }
  .account__container-for-slider-logos {
    display: none;
  }
  .account__container-for-slider-names {
    margin-left: 0;
    width: 100%;
  }
  .account__name {
    text-align: center;
    font-size: 25px;
  }
  .circles-choose {
    display: flex;
    justify-content: center;
  }
  .profession {
    position: relative;
    width: 100%;
    padding: 40px 0 10px 0;
  }
  .profession:after {
    content: "";
    display: block;
    width: 70%;
    height: 3px;
    background: #ffa500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .skills {
    position: relative;
    width: 100%;
    height: 62px;
    margin-bottom: 10px;
    overflow: hidden;
    background: rgba(200, 200, 200, 0.8);
    transition: all 0.2s ease;
  }
  .skills__subtitle {
    padding: 10px 10px 20px 5px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .skills__subtitle:after {
    transition: all 0.2s ease;
    content: url("../img/up.svg");
  }
  .skills.open {
    height: -moz-fit-content;
    height: fit-content;
    max-height: calc(100% - 155px);
  }
  .skills.open .skills__subtitle:after {
    transition: all 0.2s ease;
    transform: rotate(180deg);
  }
  .level-line {
    background: rgba(168, 168, 168, 0.7882352941);
  }
  .projects {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 62px;
    overflow: hidden;
    background: rgba(200, 200, 200, 0.8);
  }
  .projects.for-mobile {
    display: block;
  }
  .projects__subtitle {
    padding: 10px 10px 20px 5px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .projects__subtitle:after {
    transition: all 0.2s ease;
    content: url("../img/up.svg");
  }
  .projects__container-for-slider {
    max-height: calc(100% - 152px);
    overflow: hidden;
    border-radius: 25px;
    overflow-y: auto;
  }
  .projects__slider-item {
    overflow: scroll;
  }
  .projects__item {
    height: 150px;
  }
  .projects__arrow-svg {
    display: block;
    position: absolute;
    top: 32px;
    right: 20px;
    transform: translateY(-50%);
  }
  .projects.open {
    height: -moz-fit-content;
    height: fit-content;
    max-height: calc(100% - 155px);
  }
  .projects.open .projects__subtitle:after {
    transition: all 0.2s ease;
    transform: rotate(180deg);
  }
  .all-team {
    background: url("../img/team/team.png") bottom center/96% auto no-repeat, url("../img/team/bg.jpg") bottom center/auto 100% no-repeat;
  }
  .all-team__circles-choose {
    right: 0;
    width: 100%;
    padding: 0 20px;
    bottom: 10px;
  }
  .all-team__svg-peoples {
    bottom: -0.2%;
    /* height: 48.1%; */
    height: auto;
    width: 96%;
  }
  .all-team__block-description.opacity {
    opacity: 1;
  }
  .all-team__block-description.none {
    display: block;
  }
  .all-team__name {
    display: none !important;
  }
  .all-team__block-name.none {
    display: block;
    left: 100%;
  }
  .all-team__left-blocks {
    position: absolute;
    top: 115px;
    left: calc(-100% - 40px);
    width: calc(100% - 40px);
    height: -moz-fit-content;
    height: fit-content;
  }
  .all-team__left-blocks.active {
    left: 20px;
  }
  .all-team__left-blocks.active.open {
    height: calc(100% - 205px);
  }
}
@keyframes borderColorsTeamSvg {
  0% {
    stroke: #ffa500;
  }
  50% {
    stroke: #fff;
  }
  100% {
    stroke: #ffa500;
  }
}
@keyframes borderColorsTeamCircle5px {
  0% {
    border: 5px solid #ffa500;
  }
  50% {
    border: 5px solid #fff;
  }
  100% {
    border: 5px solid #ffa500;
  }
}
@keyframes borderColorsTeamCircle3px {
  0% {
    border: 3px solid #ffa500;
  }
  50% {
    border: 3px solid #fff;
  }
  100% {
    border: 3px solid #ffa500;
  }
}