body {
  background: url('../img/dark-background.webp') center / cover;
  background-color: #181c27;
}

.top {
  padding-top: 150px;

  &__container {
  }

  &__project-name {
    color: #ffa500;
  }

  &__description {
    color: #fff;
    font-size: 22px;
    text-align: justify;
  }
}

.stages-title {
  margin: 30px 0;

  &__title {
    color: #ffa500;
    margin: 0;
    text-align: center;
  }
}

.view {

  margin: 20px 0;

  &__bg-shadow, &__bg-shadow1 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    display: none;
  
    &.active {
      display: block;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__exit-full-screen {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 12;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    border: 5px solid red;
    background: #fff;

    &.active {
      display: flex;
    }
  }

  &__exit-full-screen-img {
    width: 60%;
    height: 60%;
    animation: scaleble-icon-in-island-hover 0.5s ease-out infinite alternate;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    &.active {
      justify-content: end;
    }
  }

  &__block-pc {
    position: relative;
    width: 74.8%;

    & > iframe {
      position: absolute;
      top: 10.5%;
      left: 9.2%;
      width: 163.2%;
      height: 156%;
      transform: scale(0.5) translate(-50%, -50%);

      &.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: none;
        z-index: 11;
      }
    }

    &:hover {
      & .view__full-screen-pc {
        /* backdrop-filter: blur(2px); */
        /* background: #6494ed67; */
      }

      & .view__btn-full-screen-pc {
        transform: scale(1);
        animation: big-full-screen-btn 0.5s ease-in 2 alternate;
      }
    }

    &.active {
      position: fixed;
      top: 50%;
      left: 50%;
      z-index: 11;
      transform: translate(-50%, -50%);
      width: 75%;
    }
  }

  &__img-pc {
    width: 100%;
  }

  &__full-screen-pc {
    position: absolute;
    top: 2.2%;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    width: 81.8%;
    height: 8.3%;
    backdrop-filter: blur(0);
    border-top-left-radius: 1% 18%;
    border-top-right-radius: 1% 18%;
    background: none;
  }

  &__macbook-camera {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 11%;
  }

  &__btn-full-screen-pc {
    position: absolute;
    top: 10%;
    left: 0.65%;
    height: 80%;
    width: 5%;
    background: #ffa600;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);

    &:hover {
      transform: scale(1.1) !important;
    }

    & .view__img-btn-full-screen, &.view__exit-full-screen-img {
      animation: scaleble-icon-in-island-hover 0.5s ease-in infinite alternate;
    }

    &.active {
      background: #f00;

      & svg.view__img-btn-full-screen {
        display: none;
      }
      & svg.view__exit-full-screen-img {
        display: block;
      }
    }
  }

  &__img-btn-full-screen {
    width: 65%;
    height: 65%;
  }

  &__exit-full-screen-img {
    width: 65%;
    height: 65%;
    display: none;
  }

  &__block-link-mac {
    position: absolute;
    display: block;
    top: 6.8%;
    left: 50%;
    transform: translateX(-50%);
    height: 2%;
  }

  &__img-url-mac {
    height: 100%;
  }

  &__lock {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-160%, -50%);
    height: 80%;

    &.iphone {
      fill: #8A8A8E;
      & path {
        fill: #8A8A8E;
      }
    }
  }

  &__loading-anim {
    justify-content: center;
    align-items: center;
    display: flex;
    background: black;
    position: absolute;
    top: 10.5%;
    left: 9.2%;
    width: 163.2%;
    height: 156%;
    transform: scale(0.5) translate(-50%, -50%);
  }
  &__loading-anim-img {
    height: 500px;
    max-height: 70%;
    max-width: 50%;
  }

  &__iframe-website {
    z-index: -1;
    &.onscrean {
      z-index: 1;
    }
  }

  &__iframe-briefing {
    z-index: -1;

    &.onscrean {
      z-index: 1;
    }
  }

  &__iframe-figma {
    z-index: -1;

    &.onscrean {
      z-index: 1;
    }
  }

  /* &__pc-iframe {
    position: absolute;
    top: 10.5%;
    left: 9.2%;
    width: 163.2%;
    height: 156%;
    transform: scale(0.5) translate(-50%, -50%);
  } */

  &__block-mobile {
    position: relative;
    width: 22.2%;

    & > iframe {
      position: absolute;
      top: 8.7%;
      left: 4.6%;
      width: 183%;
      height: 165%;
      transform: scale(0.5) translate(-50%, -50%);
    }

    &:hover, & *:hover {

      & .view__animated-iland {
        animation: big-island 2s ease-in 1 alternate;
      }
      
      & .view__img-btn-full-screen-iphone, & .view__exit-full-screen-img-iphone {
        transform: scale(1);
        animation: scaleble-icon-in-island 2s ease-in 1 alternate;
      }
    }

    &.active {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: auto;
      z-index: 11;
      height: 90%;

      & .view__img-btn-full-screen-iphone {
        display: none !important;
      }

      & .view__exit-full-screen-img-iphone {
        display: block !important;
      }
    }
  }

  &__img-iphone {
    width: 100%;

    &.active {
      width: auto;
      height: 100%;
    }
  }

  &__block-link-iphone {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    height: 3%;
  }

  &__img-url-iphone {
    height: 100%;
    fill: #000;
    & path {
      color: #000;
      fill: #000;
    }
  }

  &__animated-iland {
    cursor: pointer;
    position: absolute;
    top: 3.2%;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    width: 29.5%;
    height: 4.5%;
    border-top-right-radius: 17% 50%;
    border-top-left-radius: 17% 50%;
    border-bottom-right-radius: 17% 50%;
    border-bottom-left-radius: 17% 50%;
    border: 1px solid #ffa500;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: end;
    
    &.active {
      width: 37%;
      height: 18%;
      border-radius: 23%;
      justify-content: center;
    }
    
    &:hover {
      width: 37%;
      height: 18%;
      border-radius: 23%;
      justify-content: center;

      & .view__img-btn-full-screen-iphone, & .view__exit-full-screen-img-iphone {
        transform: scale(1);
        margin-right: 0;
        width: 50%;
        height: 50%;
        animation: scaleble-icon-in-island-hover 0.5s ease-in infinite alternate;
      }
    }
  }

  &__img-btn-full-screen-iphone {
    position: absolute;
    height: 90%;
    width: 28%;
    margin-right: 5%;
    transform: scale(0);
    
    &.active {
      transform: scale(1);
    }
  }

  &__exit-full-screen-img-iphone {
    position: absolute;
    height: 90%;
    width: 28%;
    margin-right: 5%;
    transform: scale(0);
    display: none;
    
    &.active {
      transform: scale(1);
    }
  }

  &__loading-anim-phone {
    justify-content: center;
    align-items: center;
    display: flex;
    background: black;
    position: absolute;
    top: 8.7%;
    left: 4.6%;
    width: 183%;
    height: 165%;
    transform: scale(0.5) translate(-50%, -50%);
  }

  /* &__iphone-iframe {
    position: absolute;
    top: 8.7%;
    left: 4.6%;
    width: 183%;
    height: 165%;
    transform: scale(0.5) translate(-50%, -50%);
  } */
}

.slider {
  height: 55px;
  width: 80%;
  padding: 40px 0;
  margin-left: 50%;
  transform: translateX(-50%);
  background: transparent;
  border-radius: 10px;
  cursor: pointer;

  & * {
    cursor: pointer;
  }

  &__value {
    position: relative;
    width: 100%;
    transform: scale(0.945);
  }

  &__span {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: 500;
    top: 50%;
    left: 100%;
    line-height: 55px;
    color: #fff;
    transform-origin: bottom;
    text-align: center;
    user-select: none;

    &::before {

      position: absolute;
      content: '';
      height: 70px;
      width: 70px;
      background: #ffa500;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      box-shadow: 0px 0px 8px #ffa500;
    }

    &::after {
      content: '%';
    }
  }

  &__field {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 0;
    position: relative;
  }

  &__input {
    position: relative;
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: transparent;
    border-radius: 5px;
    outline: none;
    border: none;

    &::-webkit-slider-thumb{
      -webkit-appearance: none;
      width: 50px;
      height: 50px;
      background: red;
      border-radius: 50%;
      background: transparent;
      cursor: pointer;
    }

    &::-moz-range-thumb{
      -webkit-appearance: none;
      width: 50px;
      height: 50px;
      background: red;
      border-radius: 50%;
      background: transparent;
      cursor: pointer;
    }

    &::-moz-range-progress{
      background: #ffa500;
    }
  }

  &__bg-1 {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 12px;
    transform: translateY(-50%);
    width: 100%;
    background: #6495ED;
    border-radius: 10px;
  }

  &__bg-2 {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    height: 12px;
    transform: translateY(-50%);
    width: 100%;
    background: #fff;
    border-radius: 10px;
  }
}

.stages {
  margin: 20px 0;

  &__container {}

  &__block-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__block-times {
    display: flex;
    position: relative;
    align-items: center;
    border: 3px solid #6495ED;
    border-radius: 30px;
    padding: 7px;
  }

  &__timer-icon {
    height: 40px;
    margin-right: 10px;
  }

  &__date-block {
    width: 117px;
    height: 26px;
    position: relative;
    overflow: hidden;
  }

  &__date-block-slider {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 1100%;
    height: 100%;
    transform: translateX(-90.9%);

    &.first {transform: translateX(0);}
    &.second {transform: translateX(-9.09%);}
    &.third {transform: translateX(-18.18%);}
    &.four {transform: translateX(-27.27%);}
    &.five {transform: translateX(-36.36%);}
    &.six {transform: translateX(-45.45%);}
    &.seven {transform: translateX(-54.54%);}
    &.eight {transform: translateX(-63.63%);}
    &.nine {transform: translateX(-72.72%);}
    &.ten {transform: translateX(-81.81%);}
  }

  &__date {
    color: #6495ED;
    font-weight: 500;
    margin-bottom: 0;

    &.start {
      margin-left: 10px;
    }
  }

  &__stage-title {
    position: relative;
    border: 3px solid #6495ED;
    border-radius: 50px;
    width: 500px;
    height: 48px;
    overflow: hidden;
  }

  &__stage-title-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 1100%;
    height: 100%;
    transform: translateX(-90.9%);

    &.first {transform: translateX(0);}
    &.second {transform: translateX(-9.09%);}
    &.third {transform: translateX(-18.18%);}
    &.four {transform: translateX(-27.27%);}
    &.five {transform: translateX(-36.36%);}
    &.six {transform: translateX(-45.45%);}
    &.seven {transform: translateX(-54.54%);}
    &.eight {transform: translateX(-63.63%);}
    &.nine {transform: translateX(-72.72%);}
    &.ten {transform: translateX(-81.81%);}
  }

  &__stage {
    color: #6495ED;
    padding: 10px;
    width: 9.09%;
    text-align: center;
  }

  &__description {
    margin: 30px 0;
    color: #fff;
    display: none;
    background: none;
    opacity: 0;

    &.opacity {
      opacity: 1;
    }
    &.active {
      display: block;
    }
  }

  &__added-block {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__added-elements {
    font-size: 30px;
    color: #ffa500;
    margin-right: 20px;
    position: absolute;
    top: 6px;
    left: 5px;
  }

  &__block-added-el {
    align-items: center;
    display: none;
    background: none;
    line-height: 50px;
    text-indent: 150px;
    text-align: left;
    opacity: 0;
    letter-spacing: 10px;

    &.opacity {
      opacity: 1;
    }
    &.active {
      display: block;
    }
  }

  &__added-element {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    background: #6495ED;
    padding: 5px 10px;
    border-radius: 25px;
    display: inline-block;
    text-indent: 0;
    letter-spacing: normal;
  }
}

.skills-and-team {
  margin: 50px 0;
  max-height: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  &__skills {
    width: 60%;
  }

  &__skills-title {
    color: #ffa500;
    text-align: center;
  }

  &__block-skills {
    letter-spacing: 20px;
    line-height: 80px;
  }

  &__skill {
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    margin: 0;
    background: #6495ED;
    border-radius: 50px;

    font-weight: 500;
    font-size: 25px;
    color: #fafafa;
    letter-spacing: normal;

    &:first-child {
      margin-left: 0;
    }

    &::before {
      background-size: 40px 40px;
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      content:"";
    }

    &.html::before {
      background-image: url('../img/html.svg');
    }
    &.css::before {
      background-image: url('../img/css.svg');
    }
    &.js::before {
      background-image: url('../img/js.svg');
    }
    &.react::before {
      background-image: url('../img/react.svg');
    }
    &.load::before {
      background-image: url('../img/load.svg');
    }
    &.php::before {
      background-image: url('../img/php.svg');
    }
  }

  &__icon {
    width: 40px;
    height: 40px;
    color: #ffa500;
    fill: #ffa500;

    & path {
      fill: #ffa500;
    }
  }

  &__team {
    margin-left: 50px;
    width: 40%;
  }

  &__team-title {
    color: #ffa500;
    text-align: center;
  }

  &__people {
  }

  &__pearson {
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 50px;
    overflow: hidden;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover .skills-and-team__pearson-bg {
      width: 100%;
    }
    &:hover .skills-and-team__pearson-name {
      color: #fff;
    }
  }

  &__pearson-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 0;
    height: 100%;
    background: #ffa500;
  }

  &__img {
    width: 70px;
    height: 70px;
  }

  &__pearson-info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__profession {
    margin-top: 10px;
    font-size: 22px;
    color: #6495ED;
    margin-bottom: 0;
    font-weight: 550;
  }

  &__pearson-name {
    font-size: 25px;
    color: #fff;
    margin-bottom: 5px;
    font-weight: 500;
  }
}

@media (max-width: 767px) {
  .paragraf {
    font-size: 20px;
    line-height: 25px;
  }

  .title {
    font-size: 30px;
  }

  .top {
    padding-top: 100px;

    &__project-name {
      text-align: center;
    }
  }

  .view {
    height: 90%;
    display: flex;
    justify-content: center;

    &__container {
      height: 100%;
      padding: 0;
    }

    &__block-pc {
      display: none;
    }

    &__block-mobile {
      height: 100%;
      width: auto;
    }

    &__img-iphone {
      width: auto;
      height: 100%;
    }

    &__animated-iland {
      display: none;
    }
  }

  .stages {

    &__block-top {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }

    &__stage-title {
      width: 100%;
    }

    &__block-times {
      margin-top: 10px;
      padding: 5px;
    }

    &__timer-icon {
      height: 32px;
      margin-right: 0;
    }

    &__date {
      font-size: 21px;
    }

    &__added-block {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__stage {
      padding: 0;
      font-size: 18px;
    }

    &__description {
      margin: 20px 0;
    }

    &__added-elements {
      position: static;
      margin-bottom: 15px;
      font-size: 27px;
    }

    &__block-added-el {
      text-indent: 0;
    }

    &__added-element {
      margin-bottom: 10px;
    }
  }

  .skills-and-team {
    display: flex;
    flex-direction: column;
    margin: 20px 0;

    &__skills {
      width: 100%;
      margin-bottom: 15px;
    }

    &__block-skills {
      letter-spacing: 10px;
      line-height: 60px;
    }

    &__skill {
      display: inline-flex;
      align-items: center;
      padding: 10px 12px;
      margin: 0;
      background: #6495ED;
      border-radius: 50px;
  
      font-weight: 500;
      font-size: 25px;
      color: #fafafa;
      letter-spacing: normal;
  
      &:first-child {
        margin-left: 0;
      }
  
      &::before {
        background-size: 35px 35px;
        display: inline-block;
        width: 35px;
        height: 35px;
        margin-right: 10px;
        content:"";
      }
    }
    
    &__team {
      width: 100%;
      margin-left: 0;
    }

    &__team-title {
      margin-bottom: 10px;
    }

    &__pearson {
      border: 3px solid #ffa500;
      padding: 7px;
      margin-bottom: 7px;
    }

    &__pearson-name {
      font-size: 21px;
    }
  }
}

@keyframes big-full-screen-btn {
  0% {
    height: 80%;
    width: 5%;
  }
  100% {
    height: 160%;
    width: 10%;
  }
}

@keyframes scaleble-icon-in-island {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(1);
    margin-right: 0;
    width: 50%;
    height: 50%;
  }
  30% {
    transform: scale(1.3);
    margin-right: 0;
    width: 50%;
    height: 50%;
  }
  50% {
    transform: scale(1);
    margin-right: 0;
    width: 50%;
    height: 50%;
  }
  70% {
    transform: scale(1.3);
    margin-right: 0;
    width: 50%;
    height: 50%;
  }
  90% {
    transform: scale(1);
    margin-right: 0;
    width: 50%;
    height: 50%;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleble-icon-in-island-hover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}

@keyframes big-island {
  0% {
    width: 29.1%;
    height: 4.2%;
    border-top-right-radius: 16% 50%;
    border-top-left-radius: 16% 50%;
    border-bottom-right-radius: 16% 50%;
    border-bottom-left-radius: 16% 50%;
    justify-content: center;
  }
  10% {
    width: 37%;
    height: 18%;
    border-radius: 23%;
    justify-content: center;
  }
  90% {
    width: 37%;
    height: 18%;
    border-radius: 23%;
    justify-content: center;
  }
  100% {
    width: 29.1%;
    height: 4.2%;
    border-top-right-radius: 16% 50%;
    border-top-left-radius: 16% 50%;
    border-bottom-right-radius: 16% 50%;
    border-bottom-left-radius: 16% 50%;
    justify-content: center;
  }
}
@keyframes big-island-hover {
  0% {
    width: 29.1%;
    height: 4.2%;
    border-top-right-radius: 16% 50%;
    border-top-left-radius: 16% 50%;
    border-bottom-right-radius: 16% 50%;
    border-bottom-left-radius: 16% 50%;
    justify-content: center;
  }
  100% {
    width: 37%;
    height: 18%;
    border-radius: 23%;
    justify-content: center;
  }
}

/* @keyframes mob-island-hov {
  0% {
    width: 37%;
    height: 18%;
    border-radius: 23%;
    justify-content: center;

    & .view__img-btn-full-screen-iphone, & .view__exit-full-screen-img-iphone {
      transform: scale(1);
      margin-right: 0;
      width: 50%;
      height: 50%;
      animation: scaleble-icon-in-island-hover 0.5s ease-in 2 alternate;
    }
  }

  100% {
    width: 29.5%;
    height: 4.5%;
    border-top-right-radius: 17% 50%;
    border-top-left-radius: 17% 50%;
    border-bottom-right-radius: 17% 50%;
    border-bottom-left-radius: 17% 50%;
    justify-content: end;

    & .view__img-btn-full-screen-iphone, & .view__exit-full-screen-img-iphone {
      height: 90%;
      width: 28%;
      margin-right: 5%;
      transform: scale(0);
      animation: none;
    }
  }
} */