body {
  background: url('../img/dark-background.webp') center / cover;
  background-color: #181c27;
}

.footer {
  background: #ffffff36;
}

.top {
  padding-top: 100px;

  &__container {
  }

  &__title {
    color: #ffa500;
    font-size: 43px;
  }

  &__paragraf {
    font-size: 22px;
    color: #fff;
  }
}

.projects {
  padding: 30px 0;

  &__container {}

  &__flex-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__project {
    position: relative;
    width: calc(50% - 15px);
    border-radius: 30px;
    box-sizing: border-box;
    
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      transition: all .3s ease;
      border-radius: 35px;
      border: 2px solid #ffa500;
      clip-path: inset(51% 0 0 51%);
    }
    &::after {
      clip-path: inset(0 51% 51% 0);
    }
    
    &:hover {

      &::before {
        animation: clippath 5s infinite linear;
      }
      &::after {
        animation: clippath 5s infinite -2.5s linear;
      }
      & .projects__blur {
        text-decoration: underline;
      }
    }
  }

  &__blur {
    position: absolute;
    bottom: 5%;
    left: 50%;
    z-index: 1;
    width: 95%;
    height: auto;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    font-size: 23px;
    font-weight: 600;
    color: #ffa500;
    text-align: center;
    border-radius: 30px;
    border: 1.5px solid #ffa500;
    backdrop-filter: blur(7px);
    background: rgba(0, 0, 0, 0.45);
  }

  &__project-image {
    border-radius: 30px;
    width: 100%;
  }
}

@media (max-width: 767px) {

  .projects {
    padding: 20px 0;

    &__flex-line {
      flex-direction: column;
      margin-bottom: 0;

      &:last-child .projects__project:last-child {
        margin-bottom: 0;
      }
    }

    &__project {
      width: 100%;
      margin-bottom: 20px;
    }

    &__blur {
      padding: 7px;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      width: 95%;
      height: auto;
      border-radius: 30px;
      border: 1px solid #ffa500;
      backdrop-filter: blur(7px);
      font-size: 18px;
      background: rgba(0, 0, 0, 0.37);
      color: #ffa500;
      text-shadow: none;
    }
  }
}

@keyframes clippath {
  0%,
  100% {
      clip-path: inset(0 0 95% 0);
  }
  
  25% {
      clip-path: inset(0 95% 0 0);
  }
  50% {
      clip-path: inset(95% 0 0 0);
  }
  75% {
      clip-path: inset(0 0 0 95%);
  }
}